.NAV img {
  position: relative;
  align-content: initial;
  top: auto;


}

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  font-family: "Poppins", sans-serif;
}

.container1 {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    "vacio1 form vacio2";
    text-align: center;
  grid-gap: 0.5rem;
  font-size: 15px;
  color: black;
}

form {
  grid-area: form;
  background-color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

form h2 {
  text-align: center;
  color: #6a75b5;
  margin-bottom: 20px;
}

form input, textarea {
  border: 0;
  margin: 10px 0px;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
  resize: none;
}

form button {
  background: white;
  color: #6a75b5;
  border: 1px solid #6a75b5;
  padding: 15px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin: 20px auto 0;
  border-radius: 10px;
  transition: all .5s ease-in;
}

form button:hover {
  border: 1px solid #6a75b5;
  background: #6a75b5;
  color: white;
}

.vacio1 {
  grid-area: vacio1;
}

.vacio2 {
  grid-area: vacio2;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-template-areas:
      "form";
  }
}