:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 0.1fr 2fr 0.8fr;
    grid-template-areas:
        "main main main main"
        "equipo equipo equipo equipo"
        "miembro1 miembro2 miembro3 miembro4"
        "footer footer footer footer";
    grid-gap: 0.5rem;
    font-size: 15px;
    color: black;
}

main {
    grid-area: main;
    font-weight:200;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
}

.acerca_de {
    font-size: 14px;
    text-align: center;
}

#titulo_ad {
    color: #6a75b5;
    text-transform: uppercase;
    text-align: center;
}

#equipo {
    grid-area: equipo;
    text-transform: uppercase;
    text-align: center;
    color: #6a75b5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.miembro1 {
    background: #dcdcdc;
    grid-area: miembro1;
    text-align: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#miembro2 {
    background: #dcdcdc;
    grid-area: miembro2;
    text-align: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#miembro3 {
    background: #dcdcdc;
    grid-area: miembro3;
    text-align: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#miembro4 {
    background: #dcdcdc;
    grid-area: miembro4;
    text-align: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #6a75b5;
    text-align: center;
    cursor: pointer;
    width: 60%;
    margin-bottom: 1px;
    border-radius: var(--main-radius);
}

#envelope {
    fill: #6a75b5;
}

footer {
    grid-area: footer;
    text-align: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}



@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 2.2fr 0.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
            "main"
            "equipo"
            "miembro1"
            "miembro2"
            "miembro3"
            "miembro4"
            "footer";
    }
}