body{
  
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



.container{
  background-color: #e2e6ec;
  align-items: center;
}


a{
padding: 5px;

}


.registro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

